
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ink-black: #000814ff;
    --prussian-blue: #001d3dff;
    --regal-navy: #003566ff;
    --school-bus-yellow: #ffc300ff;
    --gold: #ffd60aff;
}


header {
    background-color: var(--regal-navy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 0 auto;
    padding: 20px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 8px;
}

nav ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.15);
}

nav ul a :hover {
    transform: 10px;
    box-shadow: 0 5px 15px;
}

body {
    background: var(--ink-black);
    background:
    linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.452)), 
    url(images/deepblue.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.logo {
    color: var(--gold);
    text-align: center;
    font-size: 2rem;
    color: var(g);
    font-weight: bold;
    place-content: initial;
    margin-top: 10px;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 12px;
    color: var(--gold);

}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white;
}

.container {
    width: 700px;
    height: 300px;
    background: var(--regal-navy);
    text-align: center;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    margin: 5px auto;
    margin-bottom: 20px;
    overflow: hidden;

}

img {
    width: 100px;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 200px;
    margin: 10px auto;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(red, green, blue, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    color: rgb(130, 108, 255);
 
   
}

.cartas-contenedor{
    display: flex;
}

footer {
    width: 100%;
    text-align: center;
    background-color: var(--regal-navy);
    padding: 20px;
    margin-top: 30px;

}




