
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ink-black: #000814ff;
    --prussian-blue: #001d3dff;
    --regal-navy: #003566ff;
    --school-bus-yellow: #ffc300ff;
    --gold: #ffd60aff;
    --trans:  rgba(0, 53, 102, 0.521);
    --trans-2: rgba(39, 66, 107, 0.692);
    --trans-3: rgba(0, 53, 102, 0.507);
    --pets: rgba(255, 192, 203, 0.651);
}


header {
    background-color: var(--trans);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 0 auto;
    padding: 15px;
}

.header-pets {
    background-color: var(--pets);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 0 auto;
    padding: 15px;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 8px;
}

nav ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.15);
}

nav ul a:hover {
    transform: 10px;
    box-shadow: 0 5px 15px;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--ink-black);
    background:
    linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.452)), 
    url(images/deepblue.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

main {
    flex: 1;
}

.logo {
    color: var(--gold);
    text-align: center;
    font-size: 2rem;
    color: var(g);
    font-weight: bold;
    place-content: initial;
    margin-top: 10px;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
    color: var(--gold);
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white;
}

.container {
    width: 700px;
    height: 300px;
    background: var(--trans-3);
    text-align: center;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    margin: 5px auto;
    margin-bottom: 20px;
    overflow: hidden;
}

img {
    display: block;
    width: 100px;
    margin: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    background: var(--trans-2);
    box-shadow: 0 0 20px rgba(red, green, blue, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    color: var(--gold);
}

.cartas-contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 100px;
}

.card:hover {
    transition: all 1s ease-in-out;
    border-radius: 40%;
}

.card-pets {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    margin: 12px auto;
    border-radius: 15px;
    background: var(--pets);
    box-shadow: 0 0 20px rgba(red, green, blue, 0);
    transition: transform 0.5s, box-shadow 0.5s;
    color: var(--gold);
}

.card-pets:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 5px;
    background-color: var(--trans);
    padding: 0;
    margin-top: 30px;
}

.footer-pets {
    width: 100%;
    text-align: center;
    font-size: 5px;
    background-color: var(--pets);
    padding: 0;
    margin-top: 30px;
}


.down {
    font-size: 12px;
    display: grid;
}

@media (max-width: 600px) {
    header {
    flex-direction: column;
    height: auto;
    gap: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-right: 0;
    }

    body {
        display: flex;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

}


